<section id="about" class="about-area pb-130 pt-80">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title">About Azure Community Conference</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="about-image mt-50 wow fadeInLeft" data-wow-duration="1s">
                    <img src="assets/images/about.png" alt="About">
                </div> <!-- about image -->
            </div>
            <div class="col-lg-8">
                <div class="about-content mt-45 wow fadeInRight" data-wow-duration="1s">
                    <p class="text mt-30" style="margin: 0 0 20px 0 " >
                            {{ site.data[page.year].about.about_line1 }}
                    </p>
                    <p class="text mt-30" style="margin: 0 0 20px 0 " >
                        {{ site.data[page.year].about.about_line2 }}
                </p>
                    <p class="text mt-30" style="margin: 0 0 20px 0 " >
                        <ul style="margin: 0 20px;">
                            {% for topic in site.data[page.year].about.topics  %}
                                <li style="line-height: 30px;  list-style-type: square;">{{ topic }}
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
                    
                    <p class="text mt-30 mb-30">
                        Community-based learning is the best way to enhance the concepts being discussed by connecting with tech enthusiasts and experts on a live platform. Learn from shared first-hand experiences adding familiarity with accessible examples.
                    </p>
                    <p class="text mt-30 mb-30">
                        All skill levels are welcome to help accomplish our motto of learning, sharing and networking. Let's join hands to empower the Technology Community to make it bigger and better!
                    </p>
                    <p class="date"><span>24<sup>th</sup>-26<sup>th</sup></span>
                        November 2020</p>
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>