<section id="agenda" class="event-schedule pt-115 pb-130">
    <div class="container" style="display: none">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">Schedule</h2>
                    <p class="text">Coming Soon !!!!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row" style="display: none">
            <div class="col-lg-12">
                <div class="event-tab mt-60">
                    <ul class="nav justify-content-between align-items-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="day-1-tab" data-toggle="tab" href="#day-1" role="tab"
                                aria-controls="day-1" aria-selected="true">
                                <h4 class="nav-title">Day 1</h4>
                                <span>28 July, 2022</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="day-2-tab" data-toggle="tab" href="#day-2" role="tab" aria-controls="day-2"
                                aria-selected="false">
                                <h4 class="nav-title">Day 2</h4>
                                <span>28 July, 2022</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="day-3-tab" data-toggle="tab" href="#day-3" role="tab" aria-controls="day-3"
                                aria-selected="false">
                                <h4 class="nav-title">Day 3</h4>
                                <span>28 July, 2022</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="day-4-tab" data-toggle="tab" href="#day-4" role="tab" aria-controls="day-4"
                                aria-selected="false">
                                <h4 class="nav-title">Day 4</h4>
                                <span>28 July, 2022</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="day-1" role="tabpanel"
                            aria-labelledby="day-1-tab">
                            <div class="event-content pt-40">
                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-1.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">Web Design Principle and Best Practise</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-2.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">15 FREE PRODUCTIVE DESIGN TOOLS</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-3.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">GETTING STARTED WITH SKETCHAPP</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->
                            </div> <!-- event content -->
                        </div>
                        <div class="tab-pane fade" id="day-2" role="tabpanel" aria-labelledby="day-2-tab">
                            <div class="event-content pt-40">
                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-1.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">Web Design Principle and Best Practise</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-2.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">15 FREE PRODUCTIVE DESIGN TOOLS</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-3.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">GETTING STARTED WITH SKETCHAPP</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->
                            </div> <!-- event content -->
                        </div>
                        <div class="tab-pane fade" id="day-3" role="tabpanel" aria-labelledby="day-3-tab">
                            <div class="event-content pt-40">
                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-1.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">Web Design Principle and Best Practise</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-2.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">15 FREE PRODUCTIVE DESIGN TOOLS</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-3.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">GETTING STARTED WITH SKETCHAPP</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->
                            </div> <!-- event content -->
                        </div>
                        <div class="tab-pane fade" id="day-4" role="tabpanel" aria-labelledby="day-4-tab">
                            <div class="event-content pt-40">
                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-1.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">Web Design Principle and Best Practise</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-2.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">15 FREE PRODUCTIVE DESIGN TOOLS</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->

                                <div class="single-event d-md-flex mt-30">
                                    <div class="event-image">
                                        <img src="assets/images/event-3.jpg" alt="Event">
                                    </div>
                                    <div class="event-content media-body">
                                        <h4 class="event-title">GETTING STARTED WITH SKETCHAPP</h4>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Amet minima dolores rerum maiores qui at commodi quas, reprehenderit
                                            eius consectetur quae magni molestias veniam, provident illum facere
                                            iure libero asperiores!</p>
                                        <ul class="event-meta">
                                            <li>Start: 12.00 PM</li>
                                            <li>End: 15.00 PM</li>
                                            <li>Location: Hall 1 , Building A, Golden Street, Southafrica</li>
                                        </ul>
                                    </div>
                                </div> <!-- single event -->
                            </div> <!-- event content -->
                        </div>
                    </div>
                </div> <!-- event tab -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<div class="schedule-timeslot">
    <div class="schedule-timeslot-header">
       <span class="schedule-timeslot__time">
        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;10:00 - 10:40 IST
       </span>
       <span class="schedule-timeslot__title">Breakout Sessions</span>
    </div>
    <div class="schedule-timeslot__sessions">
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 258 -->GraphQL, gRPC and REST, Oh My! A Method for Unified API Design<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/561/thumb/mike_amundsen_1575910972.jpeg" alt="Mike Amundsen">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Mike Amundsen</div>
                                     <div class="schedule-session-speaker-tagline">The (API) uncle you wish you had — the ultimate expert. #api</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 1</div>
                         </div>
                         <!-- react-empty: 274 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags">
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 279 -->#<!-- /react-text --><!-- react-text: 280 -->api<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 282 -->#<!-- /react-text --><!-- react-text: 283 -->programming<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 285 -->#<!-- /react-text --><!-- react-text: 286 -->frontend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 288 -->#<!-- /react-text --><!-- react-text: 289 -->backend<!-- /react-text -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 297 -->Investigation and Creation of Software<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/65/thumb/jessica_kerr_1575911239.jpeg" alt="Jessica Kerr">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Jessica Kerr</div>
                                     <div class="schedule-session-speaker-tagline">Developer, writer, podcaster and highly requested GOTO speaker</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 2</div>
                         </div>
                         <!-- react-empty: 313 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                </div>
             </div>
          </div>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 322 -->Modern Continuous Delivery<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/198/thumb/ken_mugrage_1548158874.jpg" alt="Ken Mugrage">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Ken Mugrage</div>
                                     <div class="schedule-session-speaker-tagline">Principal technologist at ThoughtWorks and DevOps expert</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 3</div>
                         </div>
                         <!-- react-empty: 338 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags">
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 343 -->#<!-- /react-text --><!-- react-text: 344 -->devops<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 346 -->#<!-- /react-text --><!-- react-text: 347 -->cloud<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 349 -->#<!-- /react-text --><!-- react-text: 350 -->microservices<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 352 -->#<!-- /react-text --><!-- react-text: 353 -->ci<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 355 -->#<!-- /react-text --><!-- react-text: 356 -->backend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 358 -->#<!-- /react-text --><!-- react-text: 359 -->frontend<!-- /react-text -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 367 -->Microservices Out In the Wild<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/635/thumb/derek_ferguson_1579102577.jpeg" alt="Derek Ferguson">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Derek Ferguson</div>
                                     <div class="schedule-session-speaker-tagline">Head of technology for Fitch Solutions</div>
                                  </div>
                               </div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/860/thumb/matt_jones_1579856276.jpeg" alt="Matt Jones">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Matt Jones</div>
                                     <div class="schedule-session-speaker-tagline">Head of product architecture at Fitch Solutions</div>
                                  </div>
                               </div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/861/thumb/rashid_mohammad_1579856054.jpeg" alt="Rashid Mohammad">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Rashid Mohammad</div>
                                     <div class="schedule-session-speaker-tagline">Senior engineering lead at Fitch Solutions</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 4</div>
                         </div>
                         <!-- react-empty: 393 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags">
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 398 -->#<!-- /react-text --><!-- react-text: 399 -->microservices<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 401 -->#<!-- /react-text --><!-- react-text: 402 -->frontend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 404 -->#<!-- /react-text --><!-- react-text: 405 -->backend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 407 -->#<!-- /react-text --><!-- react-text: 408 -->devops<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 410 -->#<!-- /react-text --><!-- react-text: 411 -->ci<!-- /react-text -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 419 -->Practical End-to-End Container Security at Scale<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/831/thumb/yashvier_kosaraju_1576050252.jpeg" alt="Yashvier Kosaraju">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Yashvier Kosaraju</div>
                                     <div class="schedule-session-speaker-tagline">Product security expert at Twilio Inc.</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 6</div>
                         </div>
                         <!-- react-empty: 435 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags">
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 440 -->#<!-- /react-text --><!-- react-text: 441 -->containers<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 443 -->#<!-- /react-text --><!-- react-text: 444 -->security<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 446 -->#<!-- /react-text --><!-- react-text: 447 -->backend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 449 -->#<!-- /react-text --><!-- react-text: 450 -->architecture<!-- /react-text -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 458 -->Batching vs. Streaming - John Deere's Journey to Scale &amp; Process Millions of Measurements a Second<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/864/thumb/adam_butler_1582167235.png" alt="Adam Butler">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Adam Butler</div>
                                     <div class="schedule-session-speaker-tagline">Engineering lead in John Deere’s Intelligent Solution Group</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 7</div>
                         </div>
                         <!-- react-empty: 474 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                </div>
             </div>
          </div>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 483 -->I Can Sell You Observability, But You Can't Buy It<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/915/thumb/austin_parker_1587661485.jpg" alt="Austin Parker">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Austin Parker</div>
                                     <div class="schedule-session-speaker-tagline">Author and Principal Developer Advocate at LightStep</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 8</div>
                         </div>
                         <!-- react-empty: 499 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags"></div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
       <div class="schedule-session">
          <div>
             <div class="schedule-session-content">
                <div class="schedule-session-top-content">
                   <div class="schedule-session-info">
                      <div class="schedule-session-title">
                         <!-- react-text: 510 -->From Zero to A11Y: Building an Accessibility Culture at Optimizely<!-- /react-text -->
                      </div>
                      <div class="schedule-session-details-container">
                         <div class="schedule-session-details-block">
                            <div>
                               <div class="schedule-session-speaker">
                                  <img class="schedule-session-speaker-image" src="https://files.gotocon.com/uploads/portraits/900/thumb/ayesha_mazumdar_1586364588.jpg" alt="Ayesha Mazumdar">
                                  <div class="schedule-session-speaker-details">
                                     <div class="schedule-session-speaker-name">Ayesha Mazumdar</div>
                                     <div class="schedule-session-speaker-tagline">Senior UX Engineer, Optimizely </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="schedule-session-details-block schedule-session-location-details">
                            <div class="schedule-session-icon">
                               <svg width="14" height="18">
                                  <g fill="none" fill-rule="evenodd" stroke="#7F7F7F" stroke-width="1.2" transform="translate(.977 .753)">
                                     <path stroke-linejoin="round" d="M5.948 16.525c3.966-4.292 5.949-7.794 5.949-10.506C11.897 2.695 9.234 0 5.948 0 2.663 0 0 2.695 0 6.02c0 2.673 1.983 6.175 5.948 10.505z"></path>
                                     <ellipse cx="6" cy="6.071" rx="2.4" ry="2.429"></ellipse>
                                  </g>
                               </svg>
                            </div>
                            <div class="schedule-session-location">Room 9</div>
                         </div>
                         <!-- react-empty: 526 -->
                      </div>
                   </div>
                </div>
                <div class="schedule-session-bottom-content">
                   <div class="schedule-session-divider"></div>
                   <div class="schedule-session-tags">
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 531 -->#<!-- /react-text --><!-- react-text: 532 -->a11y<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 534 -->#<!-- /react-text --><!-- react-text: 535 -->frontend<!-- /react-text -->
                      </div>
                      <div title="Add to filter" class="schedule-session-tag">
                         <!-- react-text: 537 -->#<!-- /react-text --><!-- react-text: 538 -->programming<!-- /react-text -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <i title="This session has slides" class="fa fa-file-o schedule__session-material-icon" aria-hidden="true"></i>
       </div>
    </div>
</div>