<section id="Agenda" class="section align-center community-area pt-60">
    <div id="az-events-schedule" class="az-events-schedule az-events-schedule1 sec-spacer">
        <div class="container">
       
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-20">
                        <h2 class="title">Agenda</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="events-schedule-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav eventday-list">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#sunday">Day 1<span>24 November,
                                        2020</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#monday">Day 2<span>25 November,
                                        2020</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tuesday">Day 3<span>26 November,
                                        2020</span></a>
                            </li>

                            <!--<li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#friday">Day 3<span>Thursday, 24 November, 2020</span></a>
                    </li>-->
                        </ul>

                        <!-- Tab panes -->
                        <div class="events-schedule-contents tab-content">
                            <!-- schedule day1 start -->
                            <div class="tab-pane events-schedule-days active show fade" id="sunday">
                                <div class="events-schedule-subitmes">
                                    <ul class="nav eventday-sublist gray-color">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#room1">Dev</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room2">DevOps</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room3">Data</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room4">Future is now</a>
                                        </li>
                                    </ul>
                                    <div class="events-subinner">
                                        {% assign daySessions = site.data[page.year].agenda | where: "day", "DAY1" | first %}
                                        {% assign tracks = daySessions.tracks  %}
                                        {%  for track in tracks %}
                                       <!--Hall room {{forloop.index + 1}} start-->
                                        {% assign activeShow  = ""  %}
                                        {% if forloop.index == 1  %}
                                            {% assign activeShow = " active show " %}
                                        {% endif %}
                                        <div class="tab-pane events-schedule-subdes  {{activeShow}} fade" id="room{{forloop.index + 1}}">
                                            {% assign sessions = track.titles %}
                                            
                                            {% for session in sessions |   sort: "sessionTags" %}
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            {% for image in session.image %}
                                                                <img src="assets/images/{{image.url}}" alt="" />
                                                            {% endfor %}
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>{{ session.speakers }}
                                                            </span>
                                                            <!-- <h4>Scott Hanselman</h4> -->
                                                            <!-- <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <span class="meta-date">{{ session.event_start }} - {{ session.event_end }}</span>
                                                            <h3 class="event-title">{{ session.name }}</h3>
                                                            <p class="event-des"> {{ session.description }}
                                                            </p>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                        </div>
                                        <!--Hall room {{forloop.index + 1}} end-->
                                        {% endfor %}
                                        
                                        
                                                                              
                                        
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- schedule day1 end -->
                            <!-- schedule day2 start -->
                            <div class="tab-pane events-schedule-days fade" id="monday">
                                <div class="events-schedule-subitmes">
                                    <ul class="nav eventday-sublist gray-color">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#day2room1">Dev</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room2">DevOps</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room3">Data</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room4">Future is now</a>
                                        </li>
                                    </ul>
                                    <div class="events-subinner">
                                        
                                        {% assign day2Sessions = site.data[page.year].agenda | where: "day", "DAY2" | first %}
                                        {% assign day2tracks = day2Sessions.tracks  %}
                                        {%  for day2track in day2tracks %}
                                        
                                       <!--Hall Day2 room {{forloop.index}} start-->
                                        {% assign day2activeShow  = ""  %}
                                        {% if forloop.index == 1  %}
                                            {% assign day2activeShow = " active show " %}
                                        {% endif %}
                                        <div class="tab-pane events-schedule-subdes  {{day2activeShow}} fade" id="day2room{{forloop.index}}">
                                            {% assign day2sessions = day2track.titles %}
                                            
                                            {% for day2session in day2sessions |   sort: "sessionTags" %}
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            {% for day2image in day2session.image %}
                                                                <img src="assets/images/{{day2image.url}}" alt="" />
                                                            {% endfor %}
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>{{ day2session.speakers }}
                                                            </span>
                                                            <!-- <h4>Scott Hanselman</h4> -->
                                                            <!-- <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <span class="meta-date">{{ day2session.event_start }} - {{ day2session.event_end }}</span>
                                                            <h3 class="event-title">{{ day2session.name }}</h3>
                                                            <p class="event-des"> {{ day2session.description }}
                                                            </p>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                        </div>
                                        <!--Hall Day2 room {{forloop.index}} end-->
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- schedule day2 end -->
                            <!-- schedule day3 start -->
                            <div class="tab-pane events-schedule-days fade" id="tuesday">
                                <div class="events-schedule-subitmes">
                                    <ul class="nav eventday-sublist gray-color">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#room9">Dev</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room10">DevOps</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room11">Data</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#room12">Future is now</a>
                                        </li>
                                    </ul>
                                    <div class="events-subinner">
                                        <!--Hall room 1 start-->
                                        <div class="tab-pane events-schedule-subdes  active show fade" id="room9">
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Hall room 1 end-->
                                        <!--Hall room 2 start-->
                                        <div class="tab-pane events-schedule-subdes fade" id="room10">
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Hall room 2 end-->
                                        <!--Hall room 3 start-->
                                        <div class="tab-pane events-schedule-subdes fade" id="room11">
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Hall room 3 end-->
                                        <!--Hall room 4 start-->
                                        <div class="tab-pane events-schedule-subdes fade" id="room12">
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-items">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <div class="event-author">
                                                            <img src="assets/images/speaker-placeholder.png" alt="" />
                                                            <span class="author-cty">
                                                                <i class="icofont icofont-radio-mic"></i>Speaker
                                                            </span>
                                                            <!-- <h4>Rubrash Caprio</h4>
                                                    <span class="author-position">CEO &amp; Founder</span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="event-schedule-info">
                                                            <h3 class="event-title">Announcing Soon</h3>
                                                            <!-- <span class="meta-date">08.00 AM - 03.00 PM</span>
                                                    <h3 class="event-title">Demonstration Sunday 2018</h3>
                                                    <p class="event-des">
                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                                      cupiditate non provi dent, similique sunt in culpa.
                                                    </p> -->
                                                            <div class="share-section2" style="display: none;">
                                                                <div class="event-btn">
                                                                    <a class="primary-btn" href="#">
                                                                        View Details
                                                                    </a>
                                                                </div>
                                                                <div class="social-shareicons">
                                                                    <span class="share-title">
                                                                        You Can Share It :
                                                                    </span>
                                                                    <ul class="share-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i> Facebook
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-twitter"
                                                                                   aria-hidden="true"></i> Twitter
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-google"
                                                                                   aria-hidden="true"></i> Google
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Hall room 4 end-->
                                    </div>
                                </div>
                            </div>
                            <!-- schedule day3 end -->
                            <!-- schedule day4 start -->
                            <!-- schedule day4 end -->
                        </div>
                        <div>
                            <small>* Confirmation of sessions are in progress, agenda will be updated frequently</small>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
