<section id="Agenda" class="section align-center community-area pt-60">
    <div id="az-events-schedule" class="az-events-schedule az-events-schedule1 sec-spacer">
        <div class="container">
       
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-20">
                        <h2 class="title">Agenda</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="events-schedule-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav eventday-list">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#sunday">Day 1<span>24 November,
                                        2020</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#monday">Day 2<span>25 November,
                                        2020</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tuesday">Day 3<span>26 November,
                                        2020</span></a>
                            </li>

                            <!--<li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#friday">Day 3<span>Thursday, 24 November, 2020</span></a>
                    </li>-->
                        </ul>

                        <!-- Tab panes -->
                        <div class="events-schedule-contents tab-content">
                            <div style="float: right;">
                                <small><a href="assets/downloads/Agenda.xlsx" target="_blank">Download Agenda</a></small>
                            </div>
                            <!-- schedule day1 start -->
                            <div class="tab-pane events-schedule-days active show fade" id="sunday">
                                <div class="events-schedule-subitmes">
                                    <div class="events-subinner">
                                        
                                        {% assign day2Slots = site.data[page.year].agenda | where: "day", "DAY1" | first %}
                                        
                                        {% assign day2sessions = day2Slots.slot  %}
                                        
                                        
                                            
                                            
                                            {% for item in day2sessions %}
                                            {% assign day2Sessions = item.sessions %}
                                            <div class="events-items">
                                                <div class="row event-author">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center mb-3 " style="background-color: #0078d4;color: #fff;">
                                                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;{{ item.event_start }}  - {{ item.event_end }}
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            {% for day2session in day2Sessions  %}
                                                            {% if day2session.speakers != "TBA" %}
                                                           
                                                            <div class="col-md-4 col-sm-6 text-center mb-3">
                                                                <div>
                                                                    <div  class="agenda-speaker-img-div">
                                                                        {% for day2image in day2session.image %}
                                                                        <img class="agenda-speaker-img" src="assets/images/{{day2image.url}}" alt="">
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="agenda-item-content"><span>{{ day2session.name }}</span>
                                                                    <span>{{ day2session.speakers }}</span>
                                                                    <span class="badge badge-info agenda-item-badge text-uppercase">{{day2session.tags}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                        
                                        
                                    </div>
                                    <div>
                                        <small>* Confirmation of sessions are in progress, agenda will be updated frequently</small>
                                    </div>
                                </div>
                            </div>
                            <!-- schedule day1 end -->
                            <!-- schedule day2 start -->
                            <div class="tab-pane events-schedule-days fade" id="monday">
                                <div class="events-schedule-subitmes">
                                    <!-- <ul class="nav eventday-sublist gray-color">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#day2room1">Dev</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room2">DevOps</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room3">Data</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#day2room4">Future is now</a>
                                        </li>
                                    </ul> -->
                                    <div class="events-subinner">
                                        
                                        {% assign day2Slots = site.data[page.year].agenda | where: "day", "DAY2" | first %}
                                        
                                        {% assign day2sessions = day2Slots.slot  %}
                                        
                                        
                                            
                                            
                                            {% for item in day2sessions %}
                                            {% assign day2Sessions = item.sessions %}
                                            <div class="events-items">
                                                <div class="row event-author">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center mb-3 " style="background-color: #0078d4;color: #fff;">
                                                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;{{ item.event_start }}  - {{ item.event_end }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            {% for day2session in day2Sessions  %}
                                                            {% if day2session.speakers != "TBA" %}
                                                            <div class="col-md-4 col-sm-6 text-center mb-3">
                                                                <div>
                                                                    <div  class="agenda-speaker-img-div">
                                                                        {% for day2image in day2session.image %}
                                                                        <img class="agenda-speaker-img" src="assets/images/{{day2image.url}}" alt="">
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="agenda-item-content"><span>{{ day2session.name }}</span>
                                                                    <span>{{ day2session.speakers }}</span>
                                                                    <span class="badge badge-info agenda-item-badge text-uppercase">{{day2session.tags}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                        
                                        
                                    </div>
                                </div>
                                <div>
                                    <small>* Confirmation of sessions are in progress, agenda will be updated frequently</small>
                                </div>
                            </div>
                            <!-- schedule day2 end -->
                            <!-- schedule day3 start -->
                            <div class="tab-pane events-schedule-days fade" id="tuesday">
                                <div class="events-schedule-subitmes">
                                    <div class="events-subinner">
                                        <div class="events-items">
                                            <div class="row event-author">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center mb-3 " style="background-color: #0078d4;color: #fff;">
                                                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;10:00 AM  - 4:00 PM - Online Workshops
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row justify-content-md-center">
                                                        {% assign workshops = site.data[page.year].workshops   %}
                                                        {% if page.limit %}
                                                        {% for workshop in  workshops  limit:page.limit %}
                                                        <div class="col-lg-2 col-sm-3">
                                                            <div class="single-team text-center mt-30 ">
                                                                <a href="{{workshop.url}}">
                                                                    <div class="team-image">
                                                                        <img src="{{ workshop.pic }}" alt="{{ workshop.name }} photo">
                                                                    </div>
                                                                </a>
                                                                <div class="team-content">
                                                                    <!-- <div class="team-social">
                                                                        <ul class="social">
                                                                            {% if speaker.website %}
                                                                            <li><a href="{{ speaker.website }}"><i class="lni-website"></i></a></li>
                                                                            {% endif %}
                                                                            {% if speaker.twitter %}
                                                                            <li><a href="{{ speaker.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                                                            {% endif %}
                                                                            {% if speaker.linkedin %}
                                                                            <li><a href="{{ speaker.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div> -->
                                                                    <h4 class="team-name">{{ workshop.name }}</h4>
                                                                    <span class="sub-title">{{ workshop.desc }}</span>
                                                                </div>
                                                            </div> <!-- single team -->
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        {% for workshop in workshops %}
                                                        <div class="col-lg-2 col-sm-3">
                                                            <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                                                <div class="team-image">
                                                                    <a href="{{workshop.url}}">
                                                                        <img src="{{ workshop.pic }}" alt="{{ workshop.name }} photo">
                                                                    </a>
                                                                </div>
                                                                <div class="team-content">
                                                                    <!-- <div class="team-social">
                                                                        <ul class="social">
                                                                            <li><a href="{{ speaker.website }}"><i class="lni-website"></i></a></li>
                                                                            <li><a href="{{ speaker.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                                                            <li><a href="{{ speaker.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                                                                        </ul>
                                                                    </div> -->
                                                                    <h4 class="team-name">{{ workshop.name }}</h4>
                                                                    <span class="sub-title">{{ workshop.desc }}</span>
                                                                </div>
                                                            </div> <!-- single team -->
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- <div class="row event-author mt-5">
                                    <span>10.00 AM - 11.00 AM</span>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/scott-hanselman.jpg" alt="">
                                          <span>Keynote Address</span>
                                          <span>Scott Hanselman</span>
                                          <span class="badge badge-info sample-badge">Dev-1</span>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/jon-galloway.jpg" alt="">
                                          <span>Simplify Microservices development with Tye</span>
                                          <span>Jon Galloway</span>
                                          <span class="badge badge-info sample-badge">Dev-2</span>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/scott-hanselman.jpg" alt="">
                                          <span>Architect using Serverless to save cost</span>
                                          <span> Karthikeyan V K</span>
                                          <span class="badge badge-info sample-badge">Dev-3</span>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/Sander%20Molenkamp.png" alt="">
                                          <img src="assets/images/EdwinvanWijk.png" alt="">
                                          <span>eShop on Dapr: Build microservice applications the easy way</span>
                                          <span>Sander Molenkamp; Edwin</span>
                                          <span class="badge badge-info sample-badge">DevOps</span>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/scott-hanselman.jpg" alt="">
                                          <span>Architect using Serverless to save cost</span>
                                          <span> Karthikeyan V K</span>
                                          <span class="badge badge-info sample-badge">Data</span>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                       <div>
                                          <img src="assets/images/scott-hanselman.jpg" alt="">
                                          <span>Architect using Serverless to save cost</span>
                                          <span> Karthikeyan V K</span>
                                          <span class="badge badge-info sample-badge">Future</span>
                                       </div>
                                    </div>
                                 </div> -->
                            </div>
                            <!-- schedule day3 end -->
                            <!-- schedule day4 start -->
                            <!-- schedule day4 end -->
                        </div>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<style>
.agenda-item-content{
    float: right;
    width: 80%;
    text-align: left;
    font-size: 12px;
    
}
.agenda-item-badge
{
    width: fit-content;
    background-color: #0078d4;
    font-size: 11px;
}
.agenda-speaker-img-div
{
    width: 50px !important;
    float: left;
}
.agenda-speaker-img 
{
    border: none !important;
}
</style>