<section id="cfp" class="pricing-area pt-160 pb-200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-20">
          <h2 class="title">Call for Speakers</h2>
          <p class="text mt-30 mb-30">
            The much awaited, Global Azure Community Developer Conference (2020) will offer a combination of interactive talks, lightning talks, workshops, and panel discussions with the sole aim of learning from each other and growing as a community of enthusiasts and experts. As this is a fully virtual conference, it does not involve the hassles of travel and logistics and moving away from your comfort zone. You can meet our global audience right from your laptop in your chosen safe corner – work or home or anywhere! :)
          </p>
        </div>
        <!-- section title -->
        
 

        <div class="event-content media-body">
          <h4 class="event-title">Format and duration</h4>
          <p class="text mt-30 mb-30">
          <ul class="event-meta" style="margin: 0 20px;">
            <li style="line-height: 30px;  list-style-type: square;">Interactive talks: 60 minutes</li>
            <li style="line-height: 30px;  list-style-type: square;">Lightning talks: 10 minutes</li>
            <li style="line-height: 30px;  list-style-type: square;">Workshops: 60-120 minutes (1 or 2 talk slots)</li>
          </ul>
        </p>
        </div>

        <div class="about-content mt-45 wow" data-wow-duration="1s">
          <h5 class="event-title">Here are some suggestions for topics:</h5>
          <p class="text mt-30 mb-30"></p>
          <ul class="event-meta" style="margin: 0 20px; list-style-type: none;
          columns: 2; -webkit-columns: 2; -moz-columns: 2;" >
            <li style="line-height: 30px;  list-style-type: square;">.NET</li>
            <li style="line-height: 30px;  list-style-type: square;">Architecture & Design</li>
            <li style="line-height: 30px;  list-style-type: square;">Back-End and Front-End</li>
            <li style="line-height: 30px;  list-style-type: square;">Serverless and Cloud-Native</li>
            <li style="line-height: 30px;  list-style-type: square;">Micro- Services</li>
            <li style="line-height: 30px;  list-style-type: square;">Event-Driven solutions</li>
            <li style="line-height: 30px;  list-style-type: square;">Cloud</li>
            <li style="line-height: 30px;  list-style-type: square;">Kubernetes
            / Containers/ K3S</li>
            <li style="line-height: 30px;  list-style-type: square;">Mobile</li>
            <li style="line-height: 30px;  list-style-type: square;">Web</li>
            <li style="line-height: 30px;  list-style-type: square;">Open Source</li>
            <li style="line-height: 30px;  list-style-type: square;">Data Science, AI, and Machine Learning</li>
            <li style="line-height: 30px;  list-style-type: square;">Ethics in software development</li>
            <li style="line-height: 30px;  list-style-type: square;">Modern development practices</li>
            <li style="line-height: 30px;  list-style-type: square;">Testing</li>
            <li style="line-height: 30px;  list-style-type: square;">Continuous Delivery</li>
            <li style="line-height: 30px;  list-style-type: square;">DevOps</li>
            <li style="line-height: 30px;  list-style-type: square;">Tools for software development</li>
            <li style="line-height: 30px;  list-style-type: square;">Software methodology and process</li>
            <li style="line-height: 30px;  list-style-type: square;">Teams, people, roles and how we work.</li>
            <li style="line-height: 30px;  list-style-type: square;">Product development</li>
            <li style="line-height: 30px;  list-style-type: square;">Experience Reports</li>
            <li style="line-height: 30px;  list-style-type: square;">Project and incident postmortems</li>
            <li style="line-height: 30px;  list-style-type: square;">Edge, IoT,
            and hardware</li>
            <li style="line-height: 30px;  list-style-type: square;">AR/VR</li>
            <li style="line-height: 30px;  list-style-type: square;">Functional Programming</li>
            <li style="line-height: 30px;  list-style-type: square;">Programming Languages.</li>
            <li style="line-height: 30px;  list-style-type: square;">And everything else...</li>
          </ul>
          <div class="about-content mt-45 wow" data-wow-duration="1s">We encourage you to submit your top presentation on the topics you
            are most passionate about, and not your entire portfolio. Try to
            limit your submissions to 3-4. If you have any previous speaking
            experience, please include links to videos, online
            presentations/slides or blogposts.</div>
          </p>
        </div>

        <div class="about-content mt-45 wow" data-wow-duration="1s">
          <h5 >Evaluation Process</h5>
          <p class="text mt-30 mb-30">
            Submitted sessions will be shortlisted based on the final score/rating mentioned in the evaluation criteria detailed below. Selected speakers will be invited to present the papers at the Global Azure Community Conference between November 24- 26’2020. Other details on the final agenda, schedule, pre event practice dates etc., will be shared with the final team of selected speakers.
          </p>
        </div>

        <div class="section-title pb-20">
          <h5 >Evaluation Criteria</h5>
          <p class="text mt-30 mb-30"></p>
          <ul class="event-meta" style="margin: 0 20px;">
            <li style="line-height: 30px;  list-style-type: square;">Technical or management expertise</li>
            <li style="line-height: 30px;  list-style-type: square;">Past experience as a speaker</li>
            <li style="line-height: 30px;  list-style-type: square;">Presentation skills</li>
            <li style="line-height: 30px;  list-style-type: square;">Session content</li>
            <li style="line-height: 30px;  list-style-type: square;">Session level</li>
          </ul>
          </p>
          <p class="text mt-30 mb-30">
            <b>Tips for a winning submission :</b>  Before submitting your session, you
            might want to consider the target audience you’ll be talking to, as
            well as some of the other tips we have put together for you. You can
            submit more than one session.
          </p>
        </div>

        <div class="section-title pb-20">
          <h5>Few recommendations while submitting the talks.</h5>
          <p class="text mt-30 mb-30">
          <ul class="event-meta">
            <li style="line-height: 30px;  list-style-type: square;">
              Write a descriptive, fun and enticing title – this should “sell”
              your session to the audience
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Target 300-400 level technical content; 100 and 200 level content
              is in low demand – if you say your talk is level 400 then make
              sure it is or be prepared for a barrage of feedback in your
              evaluations!
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Describe content that is new, unique or significantly refreshed
              from a previous presentation
            </li>
            <li style="line-height: 30px;  list-style-type: square;">Take a solution-oriented approach</li>
            <li style="line-height: 30px;  list-style-type: square;">
              Ensure there is NO or minimal marketing talk in your content
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Showcase your speaking experience (past events/sessions you’ve
              had, ideally sessions which were also recorded)
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              If targeting levels 100-200, focus on currently released or
              upcoming technologies
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Look into an advanced/expert approach to existing technologies and
              solutions (levels 300-400)
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Include one or more live demos for technical sessions;
              historically, sessions with strong demos receive higher audience
              scores
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Include personal experience; this goes down well with an audience
              of your peers, as everyone prefers to learn from someone else’s
              mistake instead of having to go through it themselves
            </li>
            <li style="line-height: 30px;  list-style-type: square;">
              Please note that sessions that focus on proprietary technologies
              or solutions and on selling/advertising those technologies will be
              ignored from the start. Also, the Azure Community Conference organizers reserve the
              right to select specific sessions based on other criteria or
              preferences, as needed.
            </li>
          </ul>
        </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
          <div class="header-content text-center">
              <ul class="header-btn">
                  <li><a class="main-btn main-btn-2"
                  href="https://sessionize.com/azconf/">Nominate here</a></li>
              </ul>
          </div> <!-- header content -->
      </div>
  </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
