<section id="campaign_1" class="pricing-area pt-160 pb-200">
    <div class="container">
        <div class="row justify-content-center">
            <div align="center">
                <table border="1" width="680" cellspacing="0" cellpadding="0" bordercolor="#D2D2D2" style="border-collapse: collapse">
                    <!--<tr>
                        <td width="680">

                            <div align="center">

                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse">


                                    <tr>
                                        <td style="padding-top:25px; padding-left:25px; padding-right:25px; padding-bottom:25px; line-height:22px;">
                                            <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="630">
                                                <td align="left" width="140" valign="middle"><img src="../../assets/images/campaignimages/logo2.png" align="left"></td>
                                                <td width="2"></td>
                                                <td align="left" width="137" valign="middle"></td>
                                                <td align="right" valign="middle"></td>
                                    </tr>
                                </table>

                        </td>
                    </tr>-->


                    <tr>
                        <td style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px" vAlign="top" align="left" bgcolor="#000000">
                            <table style="BORDER-COLLAPSE: collapse" borderColor="#737373" cellPadding="10" width="680" border="0" bgcolor="#000000">
                                <tr>
                                    <td style="padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; line-height:20px;" align="right"><img src="../../assets/images/campaignimages/illustration.png"></td>
                                    <td style="padding-top:0px; padding-left:30px; padding-right:25px; padding-bottom:10px; line-height:27px;" align="left">
                                        <img src="../../assets/images/campaignimages/azure_logo.png"><br>
                                        <font face="Segoe UI Light" color="#A1CD3A" style="font-size: 18pt">Empowering the Developer Community<br> to achieve more with Microsoft Azure!</font><br><br>
                                        <a id="eventbrite-widget-modal-trigger-118751921193"><img src="../../assets/images/campaignimages/button.png" border="0"></a>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr><td bgcolor="#0069a8" height="4"></td></tr>

                    <tr>
                        <td valign="top" align="left" style="padding-top:20px; padding-left:25px; padding-right:25px; padding-bottom:0px; line-height:22px;">
                            <font face="Segoe UI Light" style="font-size: 12pt; ">
                                Join us for the first ever
                                <b>
                                    <font color="#0069A8">India Azure Developer Community Meet organized by the community</font>
                                </b> to elevate your code to cloud.
                                Build and nurture your skills to enable Digital Transformation with Azure Cloud. <br><br>

                            </font>
                            <font face="Segoe UI Semibold" style="font-size: 12pt; " color="#A1CD3A">How?</font><font face="Segoe UI Light" style="font-size: 12pt; ">
                                <br>
                                Be a part of the conference to interact with industry leaders and experts from India and across the globe. Get future ready by attending the hands-on technical sessions and workshops on
                                <b>
                                    <font color="#0069A8">Cloud Native Technologies, DevOps, Data, IoT, Security and more.</font>
                                </b><br><br>

                            </font>
                            <font face="Segoe UI Semibold" style="font-size: 12pt; " color="#A1CD3A">When?</font><font face="Segoe UI Light" style="font-size: 12pt; ">
                                <font color="#A1CD3A">
                                </font> <br>
                                <font color="#0069A8"><b>24<sup>th</sup> - 26<sup>th</sup> November, 2020</b></font>
                            </font>
                        </td>
                    </tr>



                    <tr>
                        <td style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px" vAlign="top" align="left">
                            <table style="BORDER-COLLAPSE: collapse" borderColor="#737373" cellPadding="10" width="680" border="0">
                                <tr>
                                    <td style="padding-top:0px; padding-left:25px; padding-right:0px; padding-bottom:0px; line-height:20px;" align="left" width="177">
                                        <a id="eventbrite-widget-modal-trigger-118751921193"><img src="../../assets/images/campaignimages/button.png" border="0"></a>
                                    </td>
                                    <td style="padding-top:10px; padding-left:20px; padding-right:25px; padding-bottom:10px; line-height:25px;" align="right"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr><td bgcolor="#0069a8" height="2"></td></tr>


                    <tr>
                        <td valign="top" align="left" style="padding-top:20px; padding-left:25px; padding-right:25px; padding-bottom:20px; line-height:22px;">
                            <font face="Segoe UI Light" style="font-size: 12pt; ">
                                Event Organized by  Microsoft India
                                <a target="_blank" href="https://mvp.microsoft.com/">
                                    <font color="#0069A8">
                                        <span style="text-decoration: none; font-weight: 700">MVPs</span>
                                    </font>
                                </a> and
                                <b>
                                    <a target="_blank" href="https://rd.microsoft.com/en-us/">
                                        <font color="#0069A8">RDs</font>
                                    </a>
                                </b>.
                            </font>
                            <font face="Segoe UI Light" style="font-size: 12pt; "><font color="#A1CD3A"><b>Stay tuned</b></font> for more details.</font>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:0px; padding-left:25px; padding-right:25px; padding-bottom:25px; line-height:22px;">
                            <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="630">
                                <td align="left" width="140" valign="middle"><img src="../../assets/images/Logo_New.png" align="left"></td>
                                <td width="2"></td>
                                <td align="left" width="137" valign="middle"></td>
                                <td align="right" valign="middle"></td>
                    </tr>
                </table>
                </td>
                </tr>

                <!--<tr>
                    <td height="2" valign=top style="padding-top:15px; padding-left:25px; padding-right:25px; padding-bottom:15px; line-height:15px;" bgcolor="#eeeeee">
                        <font face="Segoe Pro SemiLight" style="font-size: 8pt" color="#515252">
                            INSERT FOOTER
                        </font>
                    </td>
                </tr>-->



                </td>
                </tr>
                </table>

            </div>

            </td>
            </tr>
            </table>

        </div>
        </div>
    </div>
</section>
