<section id="cfp" class="pricing-area pt-115 pb-200">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center pb-20">
					<h2 class="title">Call for Speakers</h2>
					<p class="text mt-30 mb-30">
						From 24-26 November 2020, Azure Community Conference will offer a combination of talks,
						lightning talks, workshops, and panels. As this is a completely
						virtual conference no travel hassles, packing bags, or leaving your
						country is necessary. You can meet our global audience right in
						front of your laptop in the comfort of your home.
					</p>
				</div>
				<div class="text-center">
					<a
						class="main-btn main-btn-2"
						href="2020/call-for-speakers/"
						target="_blank"
						>Know more</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
