<section id="codeofconduct" class="about-area mt-50 pt-80 pb-130">
        <div class="container">
            <h2 class="title">Code of Conduct</h2>
            <p class="text mt-30 mb-30">
                Azure Community Conference, all its venues and online spaces are an inclusive environment, based on treating all individuals
                respectfully, regardless of gender and gender expression, sexual orientation, age, disability (physical
                or mental), nationality, race, ethnicity, religion (or lack thereof), physical appearance, lifestyle
                choices, software preferences or other dimensions of diversity.
            </p>
            <p class="text mt-30 mb-30">
                We value respectful behavior above individual opinions.
                We expect all conference participants (organizers, sponsors, venue staff, volunteers, speakers,
                attendees, and other guests) to abide by this code of conduct at all conference venues and
                conference-related social events.
            </p>

            <h3 class="title">Respectful Behaviour</h3>
            <p class="text mt-30 mb-30">
                <ul style="margin: 30px 20px; list-style-type:initial;">
                    <li> Be considerate, kind, constructive and helpful. </li>
                    <li> Treat everyone with respect and dignity. </li>
                    <li> Be mindful of your surroundings and of your fellow participants. </li>
                    <li> Refrain from demeaning, discriminatory or harassing behavior and speech. </li>
                    <li> If you're not sure, ask someone instead of assuming. </li>
                    <li> Alert conference organizers if you notice a dangerous situation or someone in distress. </li>
                </ul>
            </p>
            <h3 class="title">Unacceptable Behaviour</h3>

            <p class="text mt-30 mb-30">
                <ul style="margin: 30px 20px; list-style-type:initial;">
                    <li> Intimidating, harassing, abusive, discriminatory, derogatory or demeaning conduct by any
                        attendees. </li>
                    <li> Offensive or disrespectful comments related to gender, gender identity and expression, sexual
                        orientation, mental illness, physical appearance, race, religion or disability. </li>
                    <li> Unwelcome comments regarding a person’s lifestyle choices and practices, including those
                        related to food, health, parenting, drugs and employment. </li>
                    <li> Inappropriate use of nudity and/or sexual images in public spaces (including presentation
                        slides). </li>
                    <li> Deliberate intimidation, stalking or following. </li>
                    <li> Harassing photography or video recording, including logging online activity for harassment
                        purposes. </li>
                    <li> Sustained disruption of talks or other events. </li>
                    <li> Inappropriate physical contact and unwelcome sexual attention. </li>
                    <li> Wearing clothing that is not suitable for a professional work environment, that is provocative
                        or otherwise potentially offensive. </li>
                    <li> Failure to obey any rules or regulations of the venue. </li>
                </ul>
            </p>
            <h3 class="title">What to do if you witness or are subject to unacceptable behavior</h3>

            <p class="text mt-30 mb-30">You are empowered to politely engage when you feel that someone is engaging in
                unacceptable behavior. The person engaging in unacceptable behavior may not be aware of what they are
                doing - politely bringing their behavior to their attention is encouraged. </p>
            <p class="text mt-30 mb-30">If you are uncomfortable speaking up, or feel that your concerns are not being
                duly considered, please notify the organizers as soon as possible (contact details below).
                All concerns shared with us will be kept confidential, but you may also submit an anonymous report. </p>
            <p class="text mt-30 mb-30">The Azure Community Conference Organizing Team will be available to help participants contact venue
                security or local law enforcement, to provide escorts, or to otherwise assist those experiencing
                unacceptable behavior to feel safe for the duration of the conference. You can report unacceptable
                behavior to any member of staff, who in turn will contact the organizers. Members of the
                Azure Community Conference Team can be identified by a clearly marked **STAFF** shirt. </p>
            <p class="text mt-30 mb-30">If you experience unacceptable behavior and feel in any way unable to respond or
                resolve it respectfully (for any reason), please immediately bring it to the attention of a member of
                the Azure Community Conference Team. We want to hear from you about anything that you feel is disrespectful, threatening, or
                just icky in any way. We will listen and work to resolve the matter. </p>

            <h3 class="title">Apologize for Mistakes</h3>

            <p class="text mt-30 mb-30">
                Should you catch yourself engaging in unacceptable behavior, or be confronted as such, own up to your
                words and actions, and apologize accordingly. No one is perfect, and even well-intentioned people make
                mistakes. What matters is how you handle them, and avoiding repeating them in the future.
            </p>
            <h3 class="title">Consequences of Unacceptable Behaviour</h3>
            <p class="text mt-30 mb-30">
                Unacceptable behavior will not be tolerated whether by other attendees, media, speakers, volunteers,
                organizers, venue staff, sponsors or exhibitors.
                
                As organizers, we will seek to resolve conflicts peacefully and in a manner that is positive for the
                community.

                Participants warned to stop any harassing behavior are expected to comply immediately. Failure to do so
                will result in an escalation of consequences. Consequences may include
                <ul style="margin: 30px 20px; list-style-type:initial;">
                    <li>a request for an apology </li>
                    <li>a private or public warning or reprimand </li>
                    <li>a temporary expulsion and exclusion from the event without warning or refund </li>
                    <li>a permanent expulsion and exclusion from the event without warning or refund </li>
                </ul>
            </p>
            <h3 class="title">Reporting and Contact</h3>
            <p class="text mt-30 mb-30">
                If you believe someone has violated the Code of Conduct, we encourage you to report it. 
                If you are unsure whether the incident is a violation, or whether the space where it happened is covered by this Code of Conduct, we encourage you to still report it. 
                We are fine with receiving reports where we decide to take no action for the sake of creating a safer space.
            </p>
            <p class="text mt-30 mb-30">
                You can make a personal report by
                <ul style="margin: 30px 20px; list-style-type:initial;">
                    <li>Contacting the organizers who are identified by a clearly marked **STAFF** shirt.</li>
                    <li>Sending a direct message to our Twitter account: "TODO"</li>
                    <li>Emailing us at: organizers@azconf.dev</li>
                    <li>Emails and Twitter direct messages will be monitored by the organizing team.</li>
                </ul>
            </p>
            <p class="text mt-30 mb-30"> When taking a personal report, our staff will ensure you are safe and cannot be
                overheard. They may involve other event staff to ensure your report is managed properly. Once safe, we'll ask you to tell us
                about what happened. This can be upsetting, but we'll handle it as respectfully as possible, and you can
                bring someone to support you. You won't be asked to confront anyone and we won't tell anyone who you
                are.
            </p>
            <p class="text mt-30 mb-30"> Our team will be happy to help you contact hotel/venue security, local law
                enforcement, local support services, provide escorts, or otherwise assist you to feel safe for the duration of the event. We value
                your attendance.
            </p>
            <p class="text mt-30 mb-30"> You can also make an anonymous report. Please note that without a way to
                contact you, an anonymous report may be difficult to act on. You may also create a throwaway account to report.
            </p>
            <p class="text mt-30 mb-30"> In cases where a public response is deemed necessary, the identities of victims
                and reporters will remain confidential unless those individuals instruct us otherwise.
            </p>
            <p class="text mt-30 mb-30"> While all reports will be taken seriously, the team may not
                act on complaints that they feel are not violations of this code of conduct.
            </p>
            <p class="text mt-30 mb-30">
                Thank you to every Azure Community Conference participant for making Azure Community Conference a kind, safe and welcoming space.
            </p>
        </div> <!-- row -->
</section>