   
    <section id="codeofconduct" class="about-area pt-80 pb-130 wow fadeInLeft">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="title">Code of Conduct</h2>
            </div>
            <p class="text mt-30 mb-30">
                Azure Community Conference, all its venues and online spaces are an inclusive environment, based on treating all individuals
                respectfully, regardless of gender and gender expression, sexual orientation, age, disability (physical
                or mental), nationality, race, ethnicity, religion (or lack thereof), physical appearance, lifestyle
                choices, software preferences or other dimensions of diversity.
            </p>
            <p class="text mt-30 mb-30">
                We value respectful behavior above individual opinions.
                We expect all conference participants (organizers, sponsors, venue staff, volunteers, speakers,
                attendees, and other guests) to abide by this code of conduct at all conference venues and
                conference-related social events.
            </p>
            <p class="text mt-30 mb-30">
                Read our detailed Code of Conduct using the button below that outlines our expectations as well as the
                consequences for unacceptable behavior.
            </p>
            <div class="text-center">
                <a class="main-btn main-btn-2" href="/code-of-conduct">Code of Conduct</a>
            </div>
        </div> <!-- row -->
    </section>