<section id="community" class="community-area pt-5 pb-5">
    <div class="container">
        <!--Diverse communities-->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-20">
                    <h2 class="title">Featured Communities</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->

        <div class="row justify-content-md-center">
            {% assign communities = site.data[page.year].community | where:"section","1"   %}
            {% if page.communitylimit %}
            {% for community in communities limit:page.communitylimit %}
            <div class="col-lg-2 col-sm-4">
                <div class="single-community text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="community-image">
                        <img src="{{ community.pic }}" alt="{{ community.name }} photo">
                    </div>
                    <div class="community-content">
                        <div class="community-social">
                            <ul class="social">
                                {% if community.website %}
                                <li><a target="_blank" href="{{ community.website }}"><i class="lni-website"></i></a></li>
                                {% endif %}
                                {% if community.twitter %}
                                <li><a target="_blank" href="{{ community.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                {% endif %}
                                {% if community.linkedin %}
                                <li><a target="_blank" href="{{ community.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <h4 class="community-name">{{ community.name }}</h4>
                        <!-- <span class="sub-title">{{ speaker.title }}</span> -->
                    </div>
                </div> <!-- single community -->
            </div>
            {% endfor %}
            {% else %}
            {% for community in communities %}
            <div class="col-lg-2 col-sm-4">
                <div class="single-community text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="community-image">
                        <img src="{{ community.pic }}" alt="{{ community.name }} photo">
                    </div>
                    <div class="community-content">
                        <div class="community-social">
                            <ul class="social">
                                <li><a href="{{ community.website }}"><i class="lni-website"></i></a></li>
                                <li><a href="{{ community.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="{{ community.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                        <h4 class="community-name">{{ community.name }}</h4>
                        <!-- <span class="sub-title">{{ speaker.title }}</span> -->
                    </div>
                </div> <!-- single community -->
            </div>
            {% endfor %}
            {% endif %}
        </div> <!-- row -->
        <div class="row mt-3"></div>
        <div class="row justify-content-center pt-115">
            <div class="col-lg-8">
                <div class="section-title text-center pb-20">
                    <h2 class="title">Azure Communities</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->

        <div class="row justify-content-md-center slider autoplay azure-comm">
            {% assign communities = site.data[page.year].community | where:"section","2"   %}
            {% if page.communitylimit %}
            {% for community in communities limit:page.communitylimit %}
            <div class="col-lg-2 col-sm-4">
                <div class="single-community text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="community-image">
                        <img src="{{ community.pic }}" alt="{{ community.name }} photo">
                    </div>
                    <div class="community-content">
                        <div class="community-social">
                            <ul class="social">
                                {% if community.website %}
                                <li><a target="_blank" href="{{ community.website }}"><i class="lni-website"></i></a></li>
                                {% endif %}
                                {% if community.twitter %}
                                <li><a target="_blank" href="{{ community.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                {% endif %}
                                {% if community.linkedin %}
                                <li><a target="_blank" href="{{ community.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <h4 class="community-name">{{ community.name }}</h4>
                        <!-- <span class="sub-title">{{ speaker.title }}</span> -->
                    </div>
                </div> <!-- single community -->
            </div>
            {% endfor %}
            {% else %}
            {% for community in communities %}
            <div class="col-lg-2 col-sm-4">
                <div class="single-community text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="community-image">
                        <img src="{{ community.pic }}" alt="{{ community.name }} photo">
                    </div>
                    <div class="community-content">
                        <div class="community-social">
                            <ul class="social">
                                <li><a href="{{ community.website }}"><i class="lni-website"></i></a></li>
                                <li><a href="{{ community.twitter }}"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="{{ community.linkedin }}"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                        <h4 class="community-name">{{ community.name }}</h4>
                        <!-- <span class="sub-title">{{ speaker.title }}</span> -->
                    </div>
                </div> <!-- single community -->
            </div>
            {% endfor %}
            {% endif %}
        </div> <!-- row --> 

    </div> <!-- container -->
</section>

