<div class="main-container">
    <figure class="fxd">
        <section class="round">
            <div class="round-overlay" title="Click Here"></div>
            <div class="round-pulse"></div>
            <span class="tooltiptext">How may I help you?</span>
            <div class="status bot-status-active"></div>
        </section>
    </figure>


    <section class="chatContainer">
        <header class="chat-header">
            <figure class="bubble-ico">chat icon</figure>
            <h3>
                <span>May I Help you ?</h3>
            <div class="minimize">minimize</div>
            <div class="clear-re">Clear or Refresh</div>
        </header>
        <div class="app-container">
            <!---->
            <iframe id="botDiv" src="https://webchat.botframework.com/embed/azconf-chatbot?s=eqzzQduziwE.Kob4sB8WkHX9GSK-IikmsdUYh1PLKxEAGPcEUTwoOJo"
             width="380" height="385" style="margin-bottom:-15px"></iframe>

        </div>
    </section>

</div>
<section id="footer" class="footer-area bg_cover" style="background-image: url(/assets/images/footer.jpg)">

    <div class="footer-widget">
        <div class="container">
            <div class="widget  pt-80 pb-130">
                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="footer-address mt-40">
                            <h5 class="f-title">Online</h5>
                            <p class="text">24-26 November, 2020
                            </p>
                        </div> <!-- footer address -->
                    </div>
                    <div class="col-lg-6" style="color:white;">
                            <div class="footer-contact mt-40">
                                <h5 class="f-title">Contact Us</h5>                                
                                <ul style="margin: 10px 0;">
                                    <li>
                                        <a style="color:white; text-decoration: underline;" href="mailto:organizers@azconf.dev">organizers@azconf.dev</a>
                                     </li>
                                    <!-- <li>
                                        Report Code of Conduct violations at
                                        <a style="color:white; text-decoration: underline;" href="mailto:organizers@azconf.dev">organizers@azconf.dev</a>
                                    </li> 
                                    <li>
                                       Enquire about sponsorship opportunities at
                                       <a style="color:white; text-decoration: underline;" href="mailto:organizers@azconf.dev">organizers@azconf.dev</a>
                                    </li>
                                    
                                    <li>
                                        For anything else, contact
                                        <a style="color:white; text-decoration: underline;" href="mailto:organizers@azconf.dev">organizers@azconf.dev</a>
                                    </li> -->
                                                                                                          
                                </ul>
                            </div>
                    </div>
                    <div class="col-lg-5" style="display:none;">
                        <div class="footer-contact mt-40">
                            <h5 class="f-title">Let us be friends</h5>
                            <ul class="social">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div> <!-- row -->
                
            </div> <!-- widget -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-address text-center">
                        <p class="text">Made with <a href="https://github.com/features/codespaces" style="color:white; text-decoration: underline;" target="_blank">Codespaces</a> &amp; Hosted as <a href="https://pages.github.com/" style="color:white; text-decoration: underline;" target="_blank">GitHub Pages</a></p>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- footer widget -->
</section>
