<section id="footer" class="footer-area bg_cover" style="background-image: url(/assets/images/footer.jpg)">

    <div class="footer-widget">
        <div class="container">
            <div class="widget  pt-80 pb-130">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-address mt-40">
                            <h5 class="f-title">Venue</h5>
                            <p class="text">18-19 June <br/> 
                                Hotel John Doe, Bangalore
                            </p>
                        </div> <!-- footer address -->
                    </div>
                    <div class="col-lg-8" style="color:white;">
                            <div class="footer-contact mt-40">
                                <h5 class="f-title">Contact Us</h5>                                
                                <ul>
                                    <li>
                                       For sponsorship, please email us at  
                                       <a style="color:white" href="mailto:sponsorship@azconf.dev">sponsorship@azconf.dev</a>
                                    </li>
                                    <li>
                                        For Code of Conduct enquiries, write to us at
                                        <a style="color:white" href="mailto:codeofconduct@azconf.dev">codeofconduct@azconf.dev</a>
                                    </li> 
                                    <li>
                                        For anything else, write to the organizers at  
                                        <a style="color:white" href="mailto:organizers@azconf.dev">organizers@azconf.dev</a>
                                    </li>
                                                                                                          
                                </ul>
                            </div>
                    </div>
                    <div class="col-lg-5" style="display:none;">
                        <div class="footer-contact mt-40">
                            <h5 class="f-title">Let us be friends</h5>
                            <ul class="social">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div> <!-- row -->
            </div> <!-- widget -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
</section>