
<script src="assets/js/jquery-1.12.4.min.js" type="text/javascript"></script>

<script src="assets/js/slick.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<div class="main-container">
    <figure class="fxd">
        <section class="round">
            <div class="round-overlay" title="Click Here"></div>
            <div class="round-pulse"></div>
            <span class="tooltiptext">How may I help you?</span>
            <div class="status bot-status-active"></div>
        </section>
    </figure>


    <section class="chatContainer">
        <header class="chat-header">
            <figure class="bubble-ico">chat icon</figure>
            <h3>
                <span>May I Help you ?
            </h3>
            <div class="minimize">minimize</div>
            <div class="clear-re">Clear or Refresh</div>
        </header>
        <div class="app-container">
            <!---->
            <iframe id="botDiv" src="https://webchat.botframework.com/embed/azconf-chatbot?s=eqzzQduziwE.Kob4sB8WkHX9GSK-IikmsdUYh1PLKxEAGPcEUTwoOJo"
                    width="380" height="385" style="margin-bottom:-15px"></iframe>

        </div>
    </section>
</div>
<section id="footer" class="footer-area bg_cover">
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row col-12 text-center">
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"  style="align-self: center;" data-wow-delay="0.2s">
                    <h3><img src="../../assets/images/newlogo.png" style="width: 35%;" alt=""></h3> 
                </div>
                <div class="widget col-md-6 col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" style="align-self: center;" data-wow-delay="0.2s">
                    <h5 class="text" style="font-style:normal;font-size: medium;color: white">Contact Us</h5>
                    <p style="padding-right: 0px;"><a href="mailto:organizers@azconf.dev" style="color:white; text-decoration: underline;">organizers@azconf.dev</a></p>
                </div>


                <div class="widget col-md-2 col-md-7 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp"  style="align-self: center;" data-wow-delay="0.2s">
                    <h5 class="text" style="font-style: normal; font-size: medium; color: white">Follow Us</h5>
                    <ul class="footer-social" style=" margin-top: 1%; ">
                        <li><a class="facebook" href="https://www.facebook.com/azconfdev" target="_blank"><i class="lni-facebook-filled"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/azconfdev" target="_blank"><i class="lni-twitter-filled" target="_blank"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/azconfdev" target="_blank"><i class="lni-linkedin-filled" target="_blank"></i></a></li>
                       
                    </ul>
                </div>
            </div>
        </div>

    </footer>
         <!--Footer Section End--> 
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info">
                            <p class="text">Made with <a href="https://github.com/features/codespaces" style="color:white; text-decoration: underline;" target="_blank">Codespaces</a> &amp; Hosted as <a href="https://pages.github.com/" style="color:white; text-decoration: underline;" target="_blank">GitHub Pages</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


