
<header class="header-area">
    {% include navbar.html %}
  
    <div id="home" class="header-content-area bg_cover d-flex align-items-center">
 
            <div id="hero-area" class="hero-area-bg">
                <div class="overlay"></div>
                <div class="col-12 row justify-content-center">
                    <div class="col-md-4">
                        <img src="assets/images/bg3left.png" class="img-alt">
                    </div>
                    <div class="col-md-4 imgdiv">
                        <img src="assets/images/Logo_AZ-01.png" class="img-alt1">


                        <ul style="color:#fff;top: 73%;text-align: center;" class="img-alt1">
                            <li  class="headertext">
                                24<sup style="font-style:italic">th</sup> - 26<sup style="font-style: italic">th</sup> November, 2020

                            </li>
                            <li class="headertext1">
                                09.00 am to 05.00 pm - IST
                            </li>
                            <li>

                                <a id="eventbrite-widget-modal-trigger-118751921193" class="btnRegister btnRegister-common">Register</a>

                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/bg3-01right.png" class="img-alt">
                    </div>
                </div>
            </div>
        
    </div>
</header>
 
<section id="count">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="count-wrapper text-center">
                    <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
                        <div id="clock" class="time-count"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 