
<header class="header-area">
    {% include navbar.html %}

    <div id="home" class="header-content-area bg_cover d-flex align-items-center">

        <div id="hero-area" class="hero-area-bg">
            <div class="overlay"></div>
            <div class="col-12 row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-md-4">
                    <img src="assets/images/bg3left.png" class="img-alt">
                </div>
                <div class="col-md-4 imgdiv">
                    <img src="assets/images/Logo_AZ-01.png" class="img-alt1">


                    <ul class="img-navbar">
                        <li class="headertext">
                            24<sup style="font-style:italic">th</sup> - 26<sup style="font-style: italic">th</sup> November, 2020

                        </li>
                        <li class="headertext1">
                            09.00 am to 05.00 pm - IST
                        </li>
                        <li class="headertext1" style=" font-size: 30px; color: #9bf00b; font-weight:400">
                            AzConf 2020 is a wrap! 
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <img src="assets/images/bg3-01right.png" class="img-alt">
                </div>
            </div>
        </div>

    </div>
</header>

<section id="count">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="count-wrapper text-center">
                    <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
                        <div id="clock" class="time-count"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<section id="LiveButton" class="about-area pt-60">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center mx-auto">
                <div class="section-title">
                    <h6 class="title">Watch On-Demand</h6>
                </div>
                <a class="about-area pt-40" href="https://www.youtube.com/channel/UCNDeNJ4b1Z6SZy95265Q8rg" target="_blank">
                    <img  style="height:60px;" src="assets/images/youtube-icon.png" />
                </a>
            </div>
        
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">We Are</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <a href="https://azconf2020.nowvirtual.live/Login.aspx?aff=toplatform" target="_blank">
                    <img src="assets/images/Btn_Click.png" />
                </a>
            </div>
            <div class="modal-footer">
                <!--<h5 class="modal-title" id="txt"><a href="https://azconf2020.nowvirtual.live/Login.aspx" >Take me there</a></h5>-->
                <!--<button type="button" class="btn btn-secondary">
    <a href="https://azconf2020.nowvirtual.live/Login.aspx">Take me there</a>
    </button>-->
                <a id="watchLive" href="https://azconf2020.nowvirtual.live/Login.aspx" target="_blank" class="btnRegister btnRegister-common">Take me there</a>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>