<head>
    <!--====== Needs more meta tags TODO ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Primary Meta Tags -->

    <meta name="title" content="India Azure Community Conference 2020 | The ultimate developer conference">
    <meta name="description" content="Azure Community Conference is a 3 day multi-track virtual conference between 24-26 November 2020. The conference is aimed at Cloud and Web Developers working with open source and cloud native technologies on the Microsoft Stack.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.azconf.dev/">
    <meta property="og:title" content="India Azure Community Conference 2020 | The ultimate developer conference">
    <meta property="og:description" content="Azure Community Conference is a 3 day multi-track virtual conference between 24-26 November 2020. The conference is aimed at Cloud and Web Developers working with open source and cloud native technologies on the Microsoft Stack.">
    <meta property="og:image" content="https://www.azconf.dev/assets/images/AzConf-FB.png">
    <meta property="og:site_name" content="India Azure Community Conference 2020 | The ultimate developer conference">
    <meta property="fb:admins" content="azconfdev">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.azconf.dev/">
    <meta property="twitter:title" content="India Azure Community Conference 2020 | The ultimate developer conference">
    <meta property="twitter:description" content="Azure Community Conference is a 3 day multi-track virtual conference between 24-26 November 2020. The conference is aimed at Cloud and Web Developers working with open source and cloud native technologies on the Microsoft Stack.">
    <meta property="twitter:image" content="https://www.azconf.dev/assets/images/AzConf-FB.png">
    <meta property="twitter:site" content="AzConfDev">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>India Azure Community Conference {{page.year}} | The ultimate developer conference</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/dist/bundle.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
    <link rel="stylesheet" href="/assets/css/icofont.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
   

</head>