<head>
    <!--====== Needs more meta tags TODO ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>AzConf 2020 | The ultimate developer conference in Bangalore</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/dist/bundle.css">
</head>