<section id="sponsors" class="client-area pt-115 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-50">
                    <h2 class="title">Sponsors</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-md-center">
                {% for sponsor in site.data[page.year].sponsors %}
                    <div class="col-lg-6">
                        <img src="{{ sponsor.pic }}" alt="{{ sponsor.name }} Logo">
                    </div>
                {% endfor %}            
        </div> <!-- row -->
    </div> <!-- container -->
</section>