<section id="tickets" class="pricing-area pt-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-20">
                    <h2 class="title">Registration</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->

        <div class="row justify-content-center">
            <div class="col-lg-8">
                
                <!-- You can customize this button any way you like -->

                <div class="pricing-area mt-30 justify-content-center" style=" text-align: center; ">
                    <button style="border: none;" class="btnRegister btnRegister-common" id="eventbrite-widget-modal-trigger-118751921193" type="button">Register</button>
                </div>
      
                <!--<div class="pricing-area mt-30" id="eventbrite-widget-container-118751921193"></div>

    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

    <script type="text/javascript">
        var exampleCallback = function () {
            console.log('Order complete!');
        };

        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '118751921193',
            iframeContainerId: 'eventbrite-widget-container-118751921193',

            // Optional
            iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            onOrderComplete: exampleCallback  // Method called when an order has successfully completed
        });
    </script>-->
            </div>
        </div>  
        </div>
</section>  