<section id="about" class="about-area pt-150 pb-130 ">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center mx-auto">
                <div class="section-title">
                    <h2 class="title">Twitter Challenges</h2>
                </div>
                <p class="text mt-30">
                    < Follow      <a href="https://twitter.com/AzConfDev" target="_blank">@AzConfDev</a>  />
                </p>
                <p class="text mt-30">
                    < Tweet  and tag <a href="https://twitter.com/hashtag/AzConfDev?src=hashtag_click" target="_blank">#AzConfDev</a>      <a href="https://twitter.com/AzConfDev" target="_blank">@AzConfDev</a> />
                </p>
                <h3 class="title pt-40 ">
                    Winners<br /><br />
                    Hearty congratulations..!! 🎉  
                </h3>
            </div>
        
        </div>
        <div class="row">
         
            <iframe style="width:100%;height:700px" src="https://app.powerbi.com/view?r=eyJrIjoiN2JiOTQzZDUtOGQ4MS00NTIyLWFjYjAtOTU4MzVmMDc4ODNjIiwidCI6IjhjNGQ2MzFmLTgzMWItNDdhYS1hZmZlLWUxODc0NDJkMmZkZCJ9" frameborder="0" allowFullScreen="true"></iframe>
            <!--<iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiN2JiOTQzZDUtOGQ4MS00NTIyLWFjYjAtOTU4MzVmMDc4ODNjIiwidCI6IjhjNGQ2MzFmLTgzMWItNDdhYS1hZmZlLWUxODc0NDJkMmZkZCJ9" frameborder="0" allowFullScreen="true"></iframe>-->
            <h5 class="title pt-40">Note: Please share your email-id before 04-12-2020 to organizers@azconf.dev</h5>
        </div>
        <div class="mt-30  pt-40"> 
            <h3 class="title">Terms & Conditions</h3>
            <p class="text mt-30 mb-30">
                <ul style="margin: 30px 20px; list-style-type:initial;">

                    <b>ENTRY POINT<br /><br /> </b>

                    The Contest starts at 12:00 AM (IST) on November 12, 2020 and ends at 11:00 PM(IST) on November 25, 2020.
                    <br />
                    <br />
                    <b>ELIGIBILITY<br /><br />  </b>
                    1. You must register for
                    <b>India Azure Community Conference-2020</b> at
                    <a href="https://azconf.dev/" target="_blank">https://www.azconf.dev/</a> and be present online for the sessions on November 24-26, 2020 at the Azure Community Conference - delivered through the virtual event platform.
                    <br />
                    <br />
                    2. Employees and directors of Microsoft Corporation and its subsidiaries, affiliates, advertising agencies, are not eligible, nor are persons involved in the execution or administration of this Contest, or the family members of each of the above (parents, children, siblings, spouse/domestic partners, or individuals residing in the same household).
                    <br />
                    <br />
                    <b>WINNER SELECTION AND NOTIFICATION<br /> <br /></b>

                    1. The potential top 200 Contest Prize Winners will be announced within 2-3 business days of the completion of the event.
                    <br />
                    <br />
                    2. The Gifts will be sent on or before 10th December, 2020 to the winners via contact information provided during registration.
                    <br />
                    <br />
                    <b>
                        HOW TO ENTER <br /><br />
                    </b>
                    Step 1: Register at
                    <b>India Azure Community Conference-2020</b>
                    <br />
                    Step 2: Follow the
                    <a href="https://twitter.com/AzConfDev" target="_blank">@AzConfDev</a> Twitter handle
                    <br />
                    Step 3: Tweet with the Hashtag
                    <b><a href="https://twitter.com/hashtag/AzConfDev?src=hashtag_click" target="_blank">#AzConfDev</a></b>
                    <br />
                    <!--<a href="https://twitter.com/search?q=%23IndiaAzConfDev&src=typed_query" target="_blank">#IndiaAzConfDev</a>-->
                </ul>
            </p>
        </div>
    </div>
</section>
