<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		
		{% include loader.html %} {% include header.html %} {% include about.html %}
		{% include tickets.html %} 
		{% include sponsors.html %}
		{% include partners.html %} 
		{% include codeofconduct.html %} 
		{% include speakers.html %} 
		{% include cfp.html %} 
		{% include team.html %}
		{% include community.html %} 
		{% include footer.html %}
		<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
		{% include scripts.html %}
	</body>
</html>
