<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include loader.html %}
    {% include header.html %}
    {% include about.html %}
    {% include codeofconduct.html %}
    {% include sponsors.html %} 
    {% include speakers.html %}
    {% include agenda.html %}
    {% include tickets.html %}
    {% include blog.html %}
    {% include team.html %}
    {% include footer.html %}
    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>   
    {% include scripts.html %}
</body>

</html>