<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
<body>

	{% include loader.html %} {% include header.html %} {% include about.html %}
	<!--{% include cfp.html %}-->
	<!--{% include codeofconduct.html %}-->
	{% include workshops.html %}
	{% include tickets.html %}
	{% include speakers.html %}
	{% include agenda.html %}
	{% include sponsors.html %}
	{% include partners.html %}
	{% include community.html %} 
	{% include team.html %}
	{% include community-partners.html %}
	{% include footer.html %}
	<!--<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
	<div class="register-btn-float"> <a id="eventbrite-widget-modal-trigger-118751921193" >Register</a></div>-->
	
	{% include scripts.html %}
</body>
</html>
